<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>WebSocket Chat</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="app">
  <h1>WebSocket Chat</h1>
  <div>
    <input type="text" v-model="message" @keyup.enter="sendMessage">
    <button @click="sendMessage">Send</button>
  </div>
  <div>
    <ul>
      <li v-for="msg in messages">{{ msg }}</li>
    </ul>
  </div>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: '',
      messages: []
    },
    methods: {
      sendMessage: function() {
        if (this.message.trim() !== '') {
          this.stompClient.send('/app/chat', {}, this.message);
          this.message = '';
        }
      }
    },
    created: function() {
      var socket = new SockJS('/chat');
      this.stompClient = Stomp.over(socket);
      this.stompClient.connect({}, function(frame) {
        app.stompClient.subscribe('/topic/messages', function(message) {
          app.messages.push(message.body);
        });
      });
    }
  });
</script>
</body>
</html>